.container {
    width: 90vw;
    margin: 0 auto;
}

body {
  font-family: 'Libre Franklin', sans-serif;
}



form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 2rem;
    input {
      width: 500px;
      border-radius: 2px;
      padding: 0.5rem 0.5rem;
      margin-top: 0.4rem;
      border: 1px solid rgb(44, 44, 44);
      text-align: left;
    }
    .greenButton {
      width: 200px;
    }
  }
  
  .greenButton {
    padding: 6px;
    height: 30px;
    margin: 0.5rem;
    background-color: #706d97;
    outline: none;
    border: none;
    color: #fff;
    cursor: pointer;
    border-radius: 3px;
    font-weight: 600;
  }
  .delete {
    background: none;
    border: none;
    img {
      width: 30px;
    }
    margin-left: 5px;
    outline: none;
    cursor: pointer;
  }
  .remove {
    background: none;
    border: none;
    outline: none;
    margin-left: 2.5rem;
    cursor: pointer;
    img {
      width: 30px;
    }
  }

  .removeContact {
    background: rgb(124, 4, 4);
    color: rgb(255, 255, 255);
    font-size: 13px;
    font-weight: 600;
    padding: 5px 9px;
    cursor: pointer;
    outline: none;
    border-radius: 5px;
    border: 2px solid rgb(194, 103, 103);
    &:hover {
      background: rgb(221, 2, 2);
      transition: 0.3s ease-in-out;
    }
  }

  .customModal {
    border: 5px solid rgb(90, 90, 90);
    left: 40%;
    position: fixed;
    z-index: 999;
    top: 20vh;
    border-radius: 5px;
    overflow: hidden;
  
    .customModalTitle {
      background-color: #eee;
      padding: 8px 12px;
      font-size: 25px;
      text-align: center;
      .close {
        line-height: 32px;
        color: #5c4084;
      }
    }
  
    .customModalFooter {
      background-color: #eee;
      display: flex;
      padding-bottom: 1rem;
      justify-content: space-around;
      text-align: left;
    }
  }